.header {
    background-color: red;
    text-align: center;
}

.links {
    font-weight: 800;
    display: block;
    box-sizing:border-box;
   
}
.links div{

    box-sizing:border-box;
    height: 50px;
    width: 300px;
        margin: 15px;
        padding: 10px;
        border: 4px solid brown;
    background-color: rgb(64, 230, 127);
    text-align: center;
    
}

